
// Background positioning
.background {
    position: absolute;
}
// Background video positioning
#backgroundVideo {
    @include absolute(0, auto, auto, 0);
}
// Background image positioning & media queries
#backgroundImage {
    @include absolute(45vw, 0, 0, 0);
    @media (max-width: 800px) {
        top: 50vw;
    }
    @media (max-width: 600px) {
        top: 70vw;
    }
    @media (max-width: 450px) {
        top: 80vw;
    }
}
// Bog's content positioning
.blog-content {
    @include flex-column;
    justify-content: space-between;
    @include gap-padding-margin(80px, auto, 50px 0 0 0)
}
// Blog's entry positioning
.blog-entry {
    @include flex-row-center
}
// Positioning for the article's content
.article-content {
    @include flex-column;
    align-items: center;
    margin: 0 18%;
}
// Positioning for the article's header
.article-header {
    @include flex-column;
    justify-content: center;
    align-items: center;
}
// Positioning for the images of the articles
.article-image {
    display: flex;
    justify-content: center;
}
// Positioning for the text of the articles
.article-info {
    @include flex-row;
    align-self: flex-start;
}
// Display & media queries for the gallery content
.gallery-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 20px;

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .gallery-image {
            width: 350px;
            height: 350px;
        }
    }


    .img1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .img2 {
        grid-area: 1 / 2 / 2 / 4;

        .gallery-image {
            width: 750px;
        }
    }

    .img3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .img4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .img5 {
        grid-area: 2 / 3 / 4 / 4;

        .gallery-image {
            height: 750px;
        }
    }

    .img6 {
        grid-area: 3 / 1 / 4 / 3;

        .gallery-image {
            width: 750px;
        }
    }

    .img7 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .img8 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .img9 {
        grid-area: 5 / 1 / 6 / 3;

        .gallery-image {
            width: 750px;
        }
    }

    .img10 {
        grid-area: 4 / 3 / 5 / 4;
    }

    .img11 {
        grid-area: 6 / 1 / 8 / 3;

        .gallery-image {
            width: 750px;
            height: 750px;
        }
    }

    .img12 {
        grid-area: 5 / 3 / 6 / 4;
    }

    .img13 {
        grid-area: 6 / 3 / 7 / 4;
    }

    .img14 {
        grid-area: 7 / 3 / 9 / 4;

        .gallery-image {
            height: 750px;
        }
    }

    .img15 {
        grid-area: 8 / 1 / 9 / 2;
    }
    // Seria 2 2 3 3 -> sumar 6 a primero y tercero
    .img16 {
        grid-area: 8 / 2 / 9 / 3;
    }

    .img17 {
        grid-area: 9 / 1 / 10 / 2;
    }

    .img18 {
        grid-area: 9 / 2 / 11 / 3;

        .gallery-image {
            height: 750px;
        }
    }

    .img19 {
        grid-area: 9 / 3 / 10 / 4;
    }

    .img20 {
        grid-area: 10 / 1 / 12 / 2;

        .gallery-image {
            height: 750px;
        }
    }

    .img21 {
        grid-area: 10 / 3 / 11 / 4;
    }

    .img22 {
        grid-area: 12 / 1 / 13 / 2;
    }

    .img23 {
        grid-area: 12 / 2 / 13 / 3;
    }

    .img24 {
        grid-area: 12 / 3 / 13 / 4;
    }

    .img25 {
        grid-area: 11 / 2 / 12 / 4;

        .gallery-image {
            width: 750px;
        }
    }

    .img26 {
        grid-area: 13 / 1 / 14 / 2;
    }

    .img27 {
        grid-area: 13 / 2 / 15 / 4;

        .gallery-image {
            height: 750px;
            width: 750px;
        }
    }

    .img28 {
        grid-area: 14 / 1 / 15 / 2;
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        /*.img2 {
            grid-column: 1 / 3;
            grid-row: 3;
        }
        .img3 {
            grid-column: 2;
            grid-row: 1 / 3;
        }
        .img4 {
            grid-column: 1;
            grid-row: 2;
        }
        .img5 {
            grid-column: 1;
            grid-row: 6;
        }
        .img6 {
            grid-column: 2;
            grid-row: 6;
        }
        .img7 {
            grid-column: 1 / 3;
            grid-row: 4 / 6;
        }*/
    }
    @media (max-width: 992px) {
        .gallery-image {
            width: 300px;
            height: 300px;
        }
    }

    @media (max-width: 780px) {
        display: flex;
        justify-content: center;

        .gallery-image {
            width: 350px;
            height: 350px;
        }
    }
}
// Positioning for the body of the about page
.about-body {
    @include flex-column;
    justify-content: space-between;
    min-height: 100vh;
}
